:root {
    --imgMain: url('../assets/images/illustration.svg')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-flex {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.img-main {
    height: 700px;
    top: 0;
    width: 55%;
    margin: auto;
    background-image: url('../assets/images/illustration.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.text-main {
    top: 0;
    margin: auto;
    width: 35%;
}

.text-main h1 {
    text-align: left;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 50px;
}

.text-main p {
    text-align: left;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 50px;
}

.text-main a {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: hsl(257, 40%, 49%); 
    background-color: #fff;
    padding: 20px 100px;
    border-radius: 50px;
    font-size: 1.3rem;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.608);
    transition: background-color 0.3s ease;
}

.text-main a:hover {
    color: #fff;
    background-color: hsl(300, 51%, 60%);
}